/*Developed by AL SHIFAN SAJIDA BEEVI HUSSAIN*/

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;

}

/* Change Header Bg Here*/
#facilities {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../images/man-standing-on-a-rock.jpg);
    background-size: cover;
    background-position: center;
}

.hero-subtitles {
    padding-top: 20px;
    padding-top: 20px;
}

section div {
    align-items: center;
    text-align: center;
}

.heading-text {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.heading-text h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #dd5826;
    padding-bottom: 10px;
}

.heading-text p {
    width: 500px;
    margin: 0 auto;
}

.container {
    width: auto;
    height: fit-content;
    margin: auto 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
}

.fac-card {
    background-color: white;
    width: 100%;
    height: 250px;
    border: 0.1px solid rgb(247, 247, 247);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 2px 2px 4px rgb(94, 94, 94, 0.2);
}

.fac-card:hover {
    box-shadow: 2px 2px 4px rgba(129, 129, 129, 0.527);
    transform: translateY(-5px);
    transition: 0.2s;
    filter:saturate(200%);
}

.card-icon {
    color: #dd5826;
    font-size: 3.5rem;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fac-card p {
    padding-top: 10px;
}


.section2{
    margin-top: 50px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(../images/fac-second.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 div h1{
    font-size: 2rem;
    color: white;
}

.section2 div p{
    padding-top: 10px;
    padding-bottom: 60px;
    width: 700px;
    color: white;
}

.section2 div button{
    padding: 10px 32px;
}

.section2 div button a{
    color: white;
    text-decoration: none;
}

/* Responsive Design for 768px*/
@media (max-width: 768px) {
    .hero-image {
        background-size: cover;
        background-position: center;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .heading-text p {
        width: 90%;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
        margin: auto 20px;
    }

    .fac-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .section2 div p {
        width: 90%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column ul {
        margin-bottom: 20px;
    }

    .footer-container ul li {
        margin-bottom: 10px;
    }

    .footer-container ul li i {
        margin-right: 10px;
    }
}